[user]
	email = muhd.iiilham@gmail.com
	name = Muhammad Ilham
[alias]
	co = checkout
	c = checkout
	cob = checkout -b
	s = status
	history = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	po = pull origin
	pom = pull origin master
	rebase = pull origin --rebase
	master = checkout master
[url "git@bitbucket.org:adasiaholdings"]
	insteadOf = https://bitbucket.org/adasiaholdings
[url "git@github.com:"]
	insteadOf = https://github.com/
